{
  "openapi": "3.0.0",
  "info": {
    "title": "Code Generation API",
    "description": "API for generating and executing code based on prompts",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://chatcompletions.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Generate code from prompt",
        "parameters": [
          {
            "name": "prompt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The prompt to generate code from"
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["api", "json"]
            },
            "description": "Output format. 'api' returns API code, 'json' returns full result"
          }
        ],
        "responses": {
          "200": {
            "description": "Generated code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "code": {
                      "type": "string"
                    },
                    "tests": {
                      "type": "string"
                    },
                    "apiCode": {
                      "type": "string"
                    },
                    "fullApiCode": {
                      "type": "string"
                    },
                    "attempts": {
                      "type": "integer"
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing prompt parameter"
          },
          "405": {
            "description": "Method not allowed"
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "options": {
        "summary": "CORS preflight",
        "responses": {
          "200": {
            "description": "CORS headers"
          }
        }
      }
    }
  },
  "components": {
    "headers": {
      "X-Execute-Prompt": {
        "description": "Prompt to execute code generation and run the result",
        "schema": {
          "type": "string"
        }
      }
    }
  }
}
